/* screen - 34 */

.x34 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 900.5px;
  overflow: hidden;
  width: 540.3px;
}

.x34 .group-container {
  height: 901px;
  position: relative;
  width: 540px;
}

.x34 .overlap-group {
  align-items: flex-start;
  background-image: url(../img/21@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 901px;
  left: 0;
  min-width: 541px;
  position: absolute;
  top: 0;
}

.x34 .s21 {
  height: 749px;
  object-fit: cover;
  width: 540px;
}

.x34 .group-43 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 117px;
  left: 48px;
  min-width: 455px;
  position: absolute;
  top: 766px;
}

.x34 .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 118px;
  margin-left: -1px;
  margin-top: -0.39px;
  min-width: 454px;
  padding: 4.4px 135.2px;
}

.x34 .text-191 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 77px;
  text-align: center;
  transition: all 0.2s ease;
  width: 183px;
}

.x34 .text-191:hover {
  transform: scale(1.1);
}
