/* screen - 26-1 */

.x26-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1800px;
  overflow: hidden;
  width: 1080px;
}

.x26-1 .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/25@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  min-height: 1800px;
  padding: 34.3px 44px;
  width: 1080px;
}

.x26-1 .overlap-group3 {
  border-radius: 32.9px;
  height: 1400px;
  margin-top: 31px;
  position: relative;
  width: 992px;
}

.x26-1 .bg3 {
  height: 1029px;
  left: 137px;
  object-fit: cover;
  position: absolute;
  top: 317px;
  width: 742px;
}

.x26-1 .rectangle-12 {
  border-radius: 32.9px;
  height: 1400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 992px;
}

.x26-1 .text-54 {
  -webkit-text-stroke: 1px var(--mustard);
  height: 307px;
  left: 88px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 479px;
}

.x26-1 .text-55 {
  height: 403px;
  left: 157px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 922px;
}

.x26-1 .text-56 {
  height: 212px;
  left: 396px;
  letter-spacing: 0;
  position: absolute;
  top: 122px;
}

.x26-1 .x26 {
  height: 188px;
  left: 157px;
  position: absolute;
  top: 124px;
  width: 195px;
}

.x26-1 .line-1 {
  height: 5px;
  left: 131px;
  position: absolute;
  top: 848px;
  width: 733px;
}

.x26-1 .line-2 {
  height: 5px;
  left: 131px;
  position: absolute;
  top: 412px;
  width: 733px;
}

.x26-1 .group-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 2.21px;
  margin-top: 66px;
  min-width: 884px;
}

.x26-1 .group-36 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 234px;
  min-width: 429px;
}

.x26-1 .overlap-group {
  align-items: flex-end;
  background-image: url(../img/rectangle-10-2@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 235px;
  margin-left: -1px;
  margin-top: -0.35px;
  min-width: 428px;
  padding: 25.3px 141.2px;
}

.x26-1 .text-52 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 182px;
  text-align: center;
  transition: all 0.2s ease;
  width: 145px;
}

.x26-1 .text-52:hover {
  transform: scale(1.1);
}

.x26-1 .group-35 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 234px;
  margin-left: 27px;
  min-width: 429px;
}

.x26-1 .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-11-1@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 235px;
  margin-left: -1px;
  margin-top: -0.35px;
  min-width: 428px;
  padding: 73.1px 141.2px;
}

.x26-1 .text-53 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 88px;
  min-width: 145px;
  text-align: center;
  transition: all 0.2s ease;
}

.x26-1 .text-53:hover {
  transform: scale(1.1);
}
/* screen - x26 */

.x26-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 900.5px;
  overflow: hidden;
  width: 540.3px;
}

.x26-2 .overlap-group2-1 {
  align-items: flex-start;
  background-image: url(../img/26-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  margin-top: -0.25px;
  min-height: 901px;
  padding: 17.4px 22.9px;
  width: 542px;
}

.x26-2 .overlap-group3-1 {
  border-radius: 16.46px;
  height: 700px;
  margin-top: 15px;
  position: relative;
  width: 496px;
}

.x26-2 .bg3-1 {
  height: 515px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 159px;
  width: 372px;
}

.x26-2 .rectangle-12-1 {
  border-radius: 16.46px;
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 496px;
}

.x26-2 .text-63 {
  -webkit-text-stroke: 0.5px var(--mustard);
  height: 154px;
  left: 44px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 239px;
  width: 407px;
}

.x26-2 .text-64 {
  height: 202px;
  left: 79px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 461px;
  width: 339px;
}

.x26-2 .text-65 {
  height: 106px;
  left: 198px;
  letter-spacing: 0;
  position: absolute;
  top: 61px;
  width: 220px;
}

.x26-2 .x26-3 {
  height: 94px;
  left: 78px;
  position: absolute;
  top: 62px;
  width: 98px;
}

.x26-2 .line-1-1 {
  height: 2px;
  left: 66px;
  position: absolute;
  top: 424px;
  width: 366px;
}

.x26-2 .line-2-1 {
  height: 2px;
  left: 66px;
  position: absolute;
  top: 206px;
  width: 366px;
}

.x26-2 .group-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 26.48px;
  margin-top: 33px;
  min-width: 443px;
}

.x26-2 .group-36-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 117px;
  min-width: 215px;
}

.x26-2 .overlap-group-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-10-5@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  margin-top: -0.39px;
  min-width: 214px;
  padding: 13.1px 70.4px;
}

.x26-2 .text-61 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 91px;
  min-width: 73px;
  text-align: center;
  transition: all 0.2s ease;
}

.x26-2 .text-61:hover {
  transform: scale(1.1);
}

.x26-2 .group-35-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 117px;
  margin-left: 12px;
  min-width: 215px;
}

.x26-2 .overlap-group1-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-11-3@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  margin-top: -0.39px;
  min-width: 214px;
  padding: 36.8px 70.4px;
}

.x26-2 .text-62 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 44px;
  min-width: 73px;
  text-align: center;
  transition: all 0.2s ease;
}

.x26-2 .text-62:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 1079px) {
  .screen.x26-1 { 
    display: none;
   }
}
@media screen and (min-width: 1080px) {
  .screen.x26 { 
    display: none;
   }
}