/* screen - 8-1 */

.x8-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1800px;
  overflow: hidden;
  width: 1080px;
}

.x8-1 .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/25@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  min-height: 1800px;
  padding: 34.3px 44px;
  width: 1080px;
}

.x8-1 .overlap-group3 {
  border-radius: 32.9px;
  height: 1400px;
  margin-top: 31px;
  position: relative;
  width: 992px;
}

.x8-1 .bg1 {
  height: 1183px;
  left: 109px;
  object-fit: cover;
  position: absolute;
  top: 134px;
  width: 852px;
}

.x8-1 .rectangle-12 {
  border-radius: 32.9px;
  height: 1400px;
  left: 0;
  position: absolute;
  top: 0;
  width: 992px;
}

.x8-1 .text-13 {
  -webkit-text-stroke: 1px var(--mustard);
  height: 307px;
  left: 128px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 478px;
}

.x8-1 .text-14 {
  height: 403px;
  left: 188px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 922px;
}

.x8-1 .o8 {
  height: 215px;
  left: 157px;
  position: absolute;
  top: 124px;
  width: 195px;
}

.x8-1 .text-15 {
  height: 212px;
  left: 396px;
  letter-spacing: 0;
  position: absolute;
  top: 124px;
}

.x8-1 .line-1 {
  height: 5px;
  left: 131px;
  position: absolute;
  top: 853px;
  width: 733px;
}

.x8-1 .line-2 {
  height: 5px;
  left: 131px;
  position: absolute;
  top: 407px;
  width: 733px;
}

.x8-1 .group-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 2.22px;
  margin-top: 66px;
  min-width: 884px;
}

.x8-1 .group-13 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 234px;
  min-width: 429px;
}

.x8-1 .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-8-2@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 235px;
  margin-left: -1px;
  margin-top: -0.35px;
  min-width: 428px;
  padding: 23.6px 141.2px;
}

.x8-1 .text-1 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 182px;
  text-align: center;
  transition: all 0.2s ease;
  width: 145px;
}

.x8-1 .text-1:hover {
  transform: scale(1.1);
}

.x8-1 .group-14 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 234px;
  margin-left: 27px;
  min-width: 429px;
}

.x8-1 .overlap-group {
  align-items: flex-end;
  background-image: url(../img/rectangle-9-2@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 235px;
  margin-left: -1px;
  margin-top: -0.35px;
  min-width: 428px;
  padding: 23.6px 141.2px;
}
/* screen - x8 */

.x8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 900.5px;
  overflow: hidden;
  width: 540.3px;
}

.x8 .overlap-group2-1 {
  align-items: flex-start;
  background-image: url(../img/8@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  margin-top: -0.25px;
  min-height: 901px;
  padding: 17.4px 22.9px;
  width: 542px;
}

.x8 .overlap-group3-1 {
  border-radius: 16.46px;
  height: 700px;
  margin-top: 15px;
  position: relative;
  width: 496px;
}

.x8 .bg1-1 {
  height: 593px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 67px;
  width: 427px;
}

.x8 .rectangle-12-1 {
  border-radius: 16.46px;
  height: 700px;
  left: 0;
  position: absolute;
  top: 0;
  width: 496px;
}

.x8 .text-100 {
  -webkit-text-stroke: 0.5px var(--mustard);
  height: 154px;
  left: 64px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 239px;
  width: 348px;
}

.x8 .text-101 {
  height: 202px;
  left: 94px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 461px;
  width: 308px;
}

.x8 .o8-1 {
  height: 108px;
  left: 78px;
  position: absolute;
  top: 62px;
  width: 98px;
}

.x8 .text-102 {
  height: 106px;
  left: 198px;
  letter-spacing: 0;
  position: absolute;
  top: 62px;
  width: 220px;
}

.x8 .line-1-1 {
  height: 2px;
  left: 66px;
  position: absolute;
  top: 427px;
  width: 366px;
}

.x8 .line-2-1 {
  height: 2px;
  left: 66px;
  position: absolute;
  top: 203px;
  width: 366px;
}

.x8 .group-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 26.48px;
  margin-top: 33px;
  min-width: 443px;
}

.x8 .group-13-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 117px;
  min-width: 215px;
}

.x8 .overlap-group1-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-8-5@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  margin-top: -0.39px;
  min-width: 214px;
  padding: 12.3px 70.4px;
}

.x8 .text-9 {
  cursor: pointer;
  letter-spacing: 0;
  min-height: 91px;
  min-width: 73px;
  text-align: center;
  transition: all 0.2s ease;
}

.x8 .text-9:hover {
  transform: scale(1.1);
}

.x8 .group-14-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 117px;
  margin-left: 12px;
  min-width: 215px;
}

.x8 .overlap-group-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-9-5@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 118px;
  justify-content: flex-end;
  margin-top: -0.39px;
  min-width: 214px;
  padding: 12.3px 70.4px;
}
@media screen and (max-width: 1079px) {
  .screen.x8-1 { 
    display: none;
   }
}
@media screen and (min-width: 1080px) {
  .screen.x8 { 
    display: none;
   }
}