* {
    box-sizing: border-box;
    margin: 0;
}

/* Reset CSS */
button {
    background: transparent;
    border: none;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

textarea {
    border: none;
    resize: none;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background: rgb(1, 5, 24);
}

.content-title {
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

#draw-box {
    width: 360px;
    height: 761px;
}

#draw-canvas {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.change-btn {
    display: block;
    margin: 20px auto;
    border-radius: 50px;
    background: #f5d417;
    box-shadow: 8px 8px 13px #d0b414;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 7, 43);
    width: 80px;
    height: 50px;
}

.change-btn:hover {
    border-radius: 50px;
    background: linear-gradient(145deg, #ddbf15, #ffe319);
    box-shadow: 8px 8px 17px #d0b414;
    color: rgb(255, 255, 255);
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#painted-box {
    width: 252px;
    height: 448px;
}

#painted-canvas {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.code-desc {
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.code-area {
    position: relative;
    margin-top: 20px;
    padding: 20px;
    width: 500px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    color: rgb(0, 7, 43);
}

.code-area .code-area-desc {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.code-area .coordinate-code {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    height: 90px;
}

.copy-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 7px 20px;
    background-color: rgb(0, 7, 43);
    border-radius: 50px;
    font-weight: 700;
    color: #fff;
}
