@charset "utf-8";


@media (min-width:541px) {


    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    ul,
    ol,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: #333;
        font-size: 17px;
        font-family: "Namumgothic";

    }




    #wrap {
        margin: 0 1%;
        padding: 0;
        width: 98%;
        height: 890px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }




    #img_box {
        width: 540px;
        height: 890px;
        margin: 1% 0;
        z-index: 5;


    }

    #img_box > img {
        width: 100%;
        height: 100%;
    }

    .key_box{
        width:100%;
        height:150px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
    }
    
    .key_box > .key_img {
        width:100%;
        height:80%;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .key_box > .key_img > img{
        width:16%;
        height:90%;
    }
    
    .key_box > .key_ment{
        font-size:30px;
        font-weight: bold;
        margin:10px 0 0;
    }
    
    
    #question {
        width: 100%;
        height: 890px;
        margin: -890px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

    }

    #question > #q_box {
        width: 370px;
        height:100%;
        padding: 60px 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }

    #question > #q_box > #fir_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100px;
        

    }

    #question > #q_box > #fir_box > .fir_box_s {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius:10px;
    }

    .box_p {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        margin:10px 0 0;
        flex-wrap:wrap;
        font-size:20px;
        font-weight: bold;
    }

    .box_p > a {
        width: 40%;
        margin:15px 5px;
        text-align: center;
        line-height: 35px;
        font-size: 20px;
        letter-spacing: -1px;
        font-weight: bold;
        background:gold;
        height:35px;
        border-radius: 10px;
        color:#000;
    }

    .box_p > a:hover{
        background:#000;
        color:#fff;
    }

    #question > #q_box > #sec_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100px;
       
       

       
    }

    #question > #q_box > #sec_box > .sec_box_s {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: #fff;
        opacity: 95%;
       
    }


    #question > #q_box > #sec_box > .sec_box_s > p span {
        color: darkblue;
    }

    #question > #q_box > #sec_box > .sec_box_s > .ans_box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        flex-wrap: wrap;
    }

   








    #question > #q_box > #third_box {
        width: 90%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        

        
    }

    #question > #q_box > #third_box > .third_box_s {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 10px;
        opacity: 95%;
       
    }





   
  




    #question > #q_box > #forth_box {
        width: 90%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        

    }

    #question > #q_box > #forth_box > .forth_box_s {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 10px;
        opacity: 95%;
     
    }

   
    
    #question > #q_box > #fifth_box {
        width: 90%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        

    }

    #question > #q_box > #fifth_box > .fifth_box_s {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 10px;
        opacity: 95%;
     
    }











}
