@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400");
@font-face {
  font-family: "NanumSquare-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NanumSquareB.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NanumSquareR.woff") format("woff");
}
@font-face {
  font-family: "NanumSquare-ExtraBold";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/NanumSquareEB.woff") format("woff");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
