/* screen - 4-9-1 */

.x4-9-1 {
  background-color: var(--white);
  height: 728.18px;
  overflow: hidden;
  position: relative;
  width: 1024px;
}

.x4-9-1 .image {
  height: 106px;
  left: 784px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 252px;
}

.x4-9-1 .overlap-group13 {
  border-radius: 18.02px;
  height: 617px;
  left: 43px;
  position: absolute;
  top: 81px;
  width: 381px;
}

.x4-9-1 .group-1 {
  background-color: var(--white);
  border-radius: 18.02px;
  box-shadow: 0px 2.88px 2.88px #00000040;
  display: flex;
  height: 617px;
  left: 0;
  position: absolute;
  top: 0;
  width: 381px;
}

.x4-9-1 .group-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 47.58px;
  margin-left: 21.6px;
  margin-top: 519.1px;
  min-width: 322.09px;
}

.x4-9-1 .overlap-group {
  align-items: flex-start;
  background-color: var(--mercury);
  border-radius: 18.02px;
  box-shadow: 0px 2.88px 2.88px #00000040;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 320px;
  padding: 12.3px 77.1px;
}

.x4-9-1 .text-163 {
  letter-spacing: 0;
  min-height: 22px;
  width: 149px;
}

.x4-9-1 .text-164 {
  left: 22px;
  letter-spacing: 0;
  position: absolute;
  top: 60px;
  width: 332px;
}

.x4-9-1 .flex-row {
  align-items: center;
  display: flex;
  height: 36px;
  left: 43px;
  min-width: 576px;
  position: absolute;
  top: 22px;
}

.x4-9-1 .sd-fmart {
  letter-spacing: 0;
  min-height: 36px;
  width: 132px;
}

.x4-9-1 .text-165 {
  letter-spacing: 0;
  margin-left: 50px;
  margin-top: 0;
  min-height: 25px;
  width: 394px;
}

.x4-9-1 .group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 559px;
  min-height: 572px;
  position: absolute;
  top: 141px;
  width: 374px;
}

.x4-9-1 .overlap-group12 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 21.63px;
  display: flex;
  height: 79px;
  justify-content: flex-end;
  margin-left: 0;
  min-width: 350px;
  padding: 14.4px 13.0px;
}

.x4-9-1 .text-166 {
  letter-spacing: 0;
  min-height: 48px;
  width: 321px;
}

.x4-9-1 .group-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  min-height: 475px;
  width: 374px;
}

.x4-9-1 .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 0;
  min-width: 350px;
}

.x4-9-1 .overlap-group9 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  min-width: 99px;
  padding: 19.4px 31.7px;
}

.x4-9-1 .number {
  letter-spacing: 0;
  min-height: 54px;
  width: 30px;
}

.x4-9-1 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  margin-left: 26px;
  min-width: 99px;
  padding: 19.4px 31.7px;
}

.x4-9-1 .overlap-group7 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  margin-left: 26px;
  min-width: 99px;
  padding: 20.2px 32.4px;
}

.x4-9-1 .number-1 {
  letter-spacing: 0;
  min-height: 37px;
  width: 20px;
}

.x4-9-1 .overlap-group-container-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 11px;
  min-width: 350px;
}

.x4-9-1 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  min-width: 99px;
  padding: 20.2px 31.7px;
}

.x4-9-1 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  margin-left: 26px;
  min-width: 99px;
  padding: 20.2px 31.7px;
}

.x4-9-1 .overlap-group6 {
  border-radius: 14.42px;
  height: 99px;
  margin-left: 26px;
  position: relative;
  width: 99px;
}

.x4-9-1 .rectangle-21 {
  background-color: var(--white);
  border-radius: 14.42px;
  cursor: pointer;
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.x4-9-1 .number-2 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 24px;
  width: 20px;
}

.x4-9-1 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 350px;
}

.x4-9-1 .overlap-group10 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  min-width: 99px;
  padding: 20.9px 31.7px;
}

.x4-9-1 .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  margin-left: 26px;
  min-width: 99px;
  padding: 20.9px 31.7px;
}

.x4-9-1 .overlap-group11 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 14.42px;
  display: flex;
  height: 99px;
  margin-left: 26px;
  min-width: 99px;
  padding: 21.6px 32.4px;
}

.x4-9-1 .overlap-group2 {
  height: 142px;
  position: relative;
  width: 99px;
}

.x4-9-1 .rectangle-25 {
  background-color: var(--white);
  border-radius: 14.42px;
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 99px;
}

.x4-9-1 .number-3 {
  left: 35px;
  letter-spacing: 0;
  position: absolute;
  top: 23px;
  width: 30px;
}

.x4-9-1 .overlap-group8 {
  border-radius: 14.42px;
  height: 99px;
  margin-left: 26px;
  position: relative;
  width: 225px;
}

.x4-9-1 .text-167 {
  left: 153px;
  letter-spacing: 0;
  position: absolute;
  top: 40px;
  width: 45px;
}

.x4-9-1 .rectangle-27 {
  background-color: var(--sunset-orange);
  border-radius: 14.42px;
  height: 99px;
  left: 0;
  position: absolute;
  top: 0;
  width: 225px;
}

.x4-9-1 .text-168 {
  left: 77px;
  letter-spacing: 0;
  position: absolute;
  top: 30px;
  width: 76px;
}
/* screen - x49 */

.x49 {
  background-color: var(--white);
  height: 320px;
  position: relative;
  width: 450.0px;
}

.x49 .overlap-group11-1 {
  height: 292px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 418px;
}

.x49 .group-1-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 7.52px;
  box-shadow: 0px 1.2px 1.2px #00000040;
  display: flex;
  height: 258px;
  left: 0;
  min-width: 159px;
  padding: 21.4px 8.7px;
  position: absolute;
  top: 34px;
}

.x49 .group-2-1 {
  cursor: pointer;
  display: flex;
  height: 20px;
  width: 134px;
}

.x49 .group-69 {
  align-items: flex-start;
  display: flex;
  height: 19.86px;
  min-width: 135.6px;
}

.x49 .overlap-group-3 {
  align-items: flex-start;
  background-color: var(--mercury);
  border-radius: 7.52px;
  box-shadow: 0px 1.2px 1.2px #00000040;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  min-width: 134px;
  padding: 5.1px 32.2px;
}

.x49 .text-255 {
  letter-spacing: 0;
  min-height: 9px;
  width: 62px;
}

.x49 .text-256 {
  left: 9px;
  letter-spacing: 0;
  position: absolute;
  top: 59px;
  width: 138px;
}

.x49 .group-119 {
  display: flex;
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 418px;
}

.x49 .sd-fmart-1 {
  height: 15.05px;
  letter-spacing: 0;
  margin-top: 9.0px;
  width: 55.07px;
}

.x49 .text-257 {
  height: 10px;
  letter-spacing: 0;
  margin-left: 20.9px;
  margin-top: 11.4px;
  width: 165px;
}

.x49 .image-1 {
  height: 44.5px;
  margin-left: 67.7px;
  margin-top: -0.3px;
  object-fit: cover;
  width: 106px;
}

.x49 .overlap-group12-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 9.03px;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 234px;
  min-width: 146px;
  padding: 6.0px 5.4px;
  position: absolute;
  top: 59px;
}

.x49 .text-258 {
  letter-spacing: 0;
  min-height: 20px;
  width: 134px;
}

.x49 .group-16-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 234px;
  min-height: 198px;
  position: absolute;
  top: 100px;
  width: 168px;
}

.x49 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 88px;
  min-width: 146px;
}

.x49 .overlap-group-container-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 88px;
  width: 42px;
}

.x49 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6.02px;
  display: flex;
  height: 42px;
  min-width: 42px;
  padding: 8.1px 13.2px;
}

.x49 .number-4 {
  letter-spacing: 0;
  min-height: 23px;
  width: 12px;
}

.x49 .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6.02px;
  display: flex;
  height: 42px;
  margin-left: 0;
  margin-top: 5px;
  min-width: 42px;
  padding: 8.4px 13.2px;
}

.x49 .overlap-group-container-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  min-height: 88px;
  width: 42px;
}

.x49 .overlap-group1-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6.02px;
  display: flex;
  height: 42px;
  min-width: 42px;
  padding: 8.4px 13.5px;
}

.x49 .number-5 {
  letter-spacing: 0;
  min-height: 15px;
  width: 8px;
}

.x49 .overlap-group7-1 {
  border-radius: 6.02px;
  height: 42px;
  margin-top: 5px;
  position: relative;
  width: 42px;
}

.x49 .rectangle-21-1 {
  background-color: var(--white);
  border-radius: 6.02px;
  cursor: pointer;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.x49 .number-6 {
  left: 15px;
  letter-spacing: 0;
  position: absolute;
  top: 10px;
  width: 8px;
}

.x49 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 5px;
  min-height: 106px;
  width: 146px;
}

.x49 .overlap-group-container-5 {
  align-items: flex-start;
  display: flex;
  min-width: 146px;
}

.x49 .overlap-group3-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6.02px;
  display: flex;
  height: 42px;
  min-width: 42px;
  padding: 8.7px 13.2px;
}

.x49 .overlap-group5-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6.02px;
  display: flex;
  height: 42px;
  margin-left: 11px;
  min-width: 42px;
  padding: 8.7px 13.2px;
}

.x49 .overlap-group9-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 6.02px;
  display: flex;
  height: 42px;
  margin-left: 11px;
  min-width: 42px;
  padding: 9.0px 13.5px;
}

.x49 .overlap-group-container-6 {
  align-items: flex-start;
  display: flex;
  margin-top: 5px;
  min-width: 146px;
}

.x49 .overlap-group6-1 {
  height: 59px;
  position: relative;
  width: 42px;
}

.x49 .rectangle-25-1 {
  background-color: var(--white);
  border-radius: 6.02px;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.x49 .number-7 {
  left: 14px;
  letter-spacing: 0;
  position: absolute;
  top: 10px;
  width: 12px;
}

.x49 .overlap-group8-1 {
  border-radius: 6.02px;
  height: 42px;
  margin-left: 11px;
  position: relative;
  width: 94px;
}

.x49 .text-259 {
  left: 64px;
  letter-spacing: 0;
  position: absolute;
  top: 17px;
  width: 19px;
}

.x49 .rectangle-27-1 {
  background-color: var(--sunset-orange);
  border-radius: 6.02px;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 94px;
}

.x49 .text-260 {
  left: 32px;
  letter-spacing: 0;
  position: absolute;
  top: 12px;
  width: 32px;
}
@media screen and (max-width: 1023px) {
  .screen.x4-9-1 { 
    display: none;
   }
}
@media screen and (min-width: 1024px) {
  .screen.x49 { 
    display: none;
   }
}